<!DOCTYPE html>

<html>
    <head>

        <title>Linear Regression</title>

    </head>
    <body>
        <h1 style="color: green;margin: 100px 30% 100px;">Linear Regression</h1>
        <div style="width: 80%; margin: 100px 10% 100px;">
           <p style="text-align: justify;">This is a linear regression system. It is using
            machine learning algorithm in the backend. I am using Sklearn libraries
            to do my work easily. The language that I have used in this 
            project is python.
                <ol>
                    <li><strong>LinearRegression</strong> : This library is used to plot a linear 
                    regression graph between two axis in a dataset. By that linear regression 
                    graph, we can easily find the value of any depended variable by knowing 
                    the independent variable</li>
                    <li><strong>train_test_split</strong> : The job of this library is to split the data
                    of dataset intp train and test. the larger portion of the data is used to train the dataset
                    and the remaining part is used to test the dataset.</li>
                </ol>
            
            
            
                By using these methods we can plot the linear regression graph and by using that graph 
                we can find the value of any unknown variable. In this project, I am using a dataset of
                home price. Here, the depended variable is price and the independent variable is area.
                The linear regression graph using the given dataset is showing below:
                </p> 
        </div>
            <div class="row">

                <div class="col-2">
                    <img src="images/data.png">
                </div>
                <div class="col-2">
                    <img src="images/graph.png">
                </div>

            </div>

    </body>

</html>
