<!DOCTYPE html>

<html>
    <head>

        <title>Linear Regression</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <h1 style="color: green;margin: 80px 20% 20px;">Linear Regression</h1>
        <a style="margin: 30px 10% 20px;" href="/about">About This</a>
        <div style="margin: 100px 20% 50px;">
            <form action="/submit" method="get" style="">
                <p>Please Enter the area of the house</br> for which you want to know</br>the approximate price :</p>

                <input type="number" name="area">
                <input style="padding: 0.2cm; margin: 0.5cm;" type="submit" value="ENTER"></br>

            </form>
            
        </div>
        <div class="output">
            <h1>Result : {{name}} taka(appr.)<br> </h1>
        </div>
    </body>

</html>
